

<div style="background-color:darkgoldenrod; " class="m-2">
  
  <h2 class="text-center m-2" style="font-style: italic; text-shadow: 2px 2px black; color:black;">
    
    {{title}}</h2>

  <div class="  text-right">
   <span *ngIf="token!=undefined && token!=null">
   <a class=" btn btn-dark text-white "  (click)="logout()">Logout</a>
   </span>
<span *ngIf="token==undefined || token==null">
<a class="btn btn-warning" (click)="showLogin()">Login</a>
</span>
<a class="btn btn-dark text-white m-2 " (click)="hideLogin()" routerLink="adduser">SignUp</a>
  </div>
</div>



<div class="bar2" *ngIf="flag">
  <nav class="p-2 text-right" >
 <a class="btn btn-warning  p-2 m-2" (click)="hideLogin()" routerLink="addschedule">
  <img src="assets/images/logo7.jpg" height="40" width="70"/>
   Add Schedule</a>
   <a class="btn btn-warning  m-2 p-2" (click)="hideLogin()" routerLink="viewflightschedule">
    <img src="assets/images/logo16.jpg" height="40" width="70"/>
     View Schedule</a>
  </nav>
</div>



<div class="bar">
<nav class="col-md-12 mx-auto p-2">

<a class="btn btn-warning p-2  " (click)="hideLogin()" routerLink="viewschedule">
  <img src="assets/images/logo1.jpg" height="40" width="70"/>
  Flights</a>


<div class="mt-3"><a class="btn btn-warning " (click)="hideLogin()" routerLink="viewuser">
  <img src="assets/images/pf1.jpg" height="40" width="70"/>
  Profile</a></div>

<div class="mt-3"><a class="btn btn-warning" (click)="hideLogin()" routerLink="viewbooking">
  <img src="assets/images/book1.jpg" height="40" width="70"/>
  Bookings</a></div>

 <div class="mt-3"><a class="btn btn-warning" (click)="hideLogin()" routerLink="viewbyPNR">
  <img src="assets/images/pnr1.jpg" height="70" width="70"/> 
   </a> </div>
</nav>
</div>


 <div class="bg5" style="height:600px;">
<section class="alert alert-danger text-center col-md-3 mx-auto m-1 p-2" *ngIf="msg!=undefined"><b>
  {{msg}}</b>
  </section>
  
<section class="col-md-3 mx-auto " *ngIf="tokenflag">
<div class="alert alert-danger text-center" *ngIf="errorMsg!=undefined"><b>{{errorMsg}}</b></div>

<h2 class="text-center">Login</h2>
<form #frm="ngForm" (ngSubmit)="doLogin()">
<div>User Id</div>
<div><input type="text" name="txtid" [(ngModel)]="login.uname" required #bkid="ngModel" class="form-control"/></div>
<div class="alert alert-danger" *ngIf="bkid.invalid && bkid.touched">User Id is manadatory</div>


<div>Password</div>
<div><input type="password" name="txtpwd" [(ngModel)]="login.pwd" required #bkpwd="ngModel" class="form-control"/></div>
<div class="alert alert-danger" *ngIf="bkpwd.invalid && bkpwd.touched">Password is manadatory</div>


<div class="mt-2 text-center"><input type="submit" value="Login" [disabled]="!frm.valid" class="btn btn-danger"/></div>


</form>

</section>


<router-outlet></router-outlet>
</div>